/* TYPOGRAPHY */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
html {
  font-size: 100%;
  /* This means 16px */
  line-height: 1.3; }

@media all and (min-width: 112em) {
  html {
    font-size: 125%;
    /* This means 20px */
    line-height: 1.4; } }

body,
button,
input,
select,
textarea {
  color: #707070;
  font-family: "Popins", Arial, Verdana, sans-serif, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 2.027rem;
  margin-bottom: 1.2rem;
  line-height: 1.15;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #252A34; }
  @media screen and (min-width: 48em) {
    h1 {
      font-size: 2.566rem; } }

h2 {
  font-size: 2.281rem;
  line-height: 1.15;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #252A34; }

h3 {
  font-size: 2.027rem;
  line-height: 1.15;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #252A34; }

h4 {
  font-size: 1.802rem;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #252A34; }

h5 {
  font-size: 1.602rem;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #707070; }

h6 {
  font-size: 1.266rem;
  font-family: "Popins", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #707070; }

p {
  font-family: "Popins", Arial, Verdana, sans-serif;
  color: #707070;
  line-height: 1.8;
  font-weight: normal;
  font-size: .889rem;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 35.5em) {
    p {
      font-size: 1rem; } }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/* MIXINS */
/* GENERAL STYLES
-------------------------------------------------*/
/**
 *
 *
	Base Type
	Scale : based on minor 3rd, 1: 1.2
	http://modularscale.com/scale/?px1=16&px2=66&ra1=1.2&ra2=0
 *
 */
html {
  height: 100%; }

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%; }

body {
  background: #fff;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.l-container {
  margin: 0 auto;
  max-width: 56rem;
  padding: .6rem 1rem; }
  @media (min-width: 48em) {
    .l-container {
      padding: 1.2rem 2rem; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--red {
  background-color: #FF2E63;
  color: #fff; }
  .btn--red::after {
    background-color: #FF2E63; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(37, 42, 52, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(37, 42, 52, 0.2); }

.btn__cv {
  padding: 1rem 6rem;
  text-transform: uppercase;
  font-size: 1.2rem; }

.btn__website {
  padding: .8rem 3rem;
  font-size: 16px; }

.nav {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500; }
  .nav__item {
    margin-right: 50px; }
    .nav__item, .nav__item:link, .nav__item:visited {
      color: #707070; }
    .nav__item:hover {
      color: #FF2E63; }

.header {
  display: flex; }
  .header__right {
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; }

.about {
  margin-top: 100px; }
  .about__welcome {
    font-size: 26px;
    margin-bottom: 10px; }
  .about__social {
    margin-bottom: 20px; }
  .about__social-icon {
    margin-right: 10px; }
  .about__name {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .about__surname {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px; }
  .about__position {
    color: #08D9D6;
    font-size: 22px;
    font-weight: 400; }
  .about__info {
    margin: 30px 0 10px 0;
    max-width: 75%; }
  .about p + p {
    margin-top: 0px; }
  .about__cv {
    margin-top: 30px; }

.portfolio {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .portfolio__header {
    font-size: 40px; }
  .portfolio__cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    width: 60%; }
  .portfolio__card {
    display: flex;
    margin-bottom: 40px; }
  .portfolio__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px 30px 10px 30px; }
  .portfolio__type {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #08D9D6; }
  .portfolio__title {
    margin: 10px 0;
    font-size: 28px;
    font-weight: 800;
    color: #252A34; }
  .portfolio__desc {
    font-size: 16px; }
  .portfolio__website {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; }

.footer {
  margin: 20px 0 0 0;
  background-color: #252A34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer__text {
    color: #fff;
    padding: 40px 0 30px 0; }
  .footer__tweet {
    color: #00aced; }
  .footer__email {
    color: #6c5cff; }
  .footer__copyright {
    color: #767676;
    padding-bottom: 10px; }
