/* GENERAL STYLES
-------------------------------------------------*/

/**
 *
 *
	Base Type
	Scale : based on minor 3rd, 1: 1.2
	http://modularscale.com/scale/?px1=16&px2=66&ra1=1.2&ra2=0
 *
 */

 html {
	height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

body {
    background: $color-white;
    height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.l-container {
	margin: 0 auto;
  max-width: 56rem;
  padding: .6rem 1rem;

  @media (min-width: 48em) {
    padding: 1.2rem 2rem;
  }
}
