/* MIXINS */

@mixin transition-cubic-bezier ($time) {
	-webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
	transition: all $time cubic-bezier(0.42, 0, 0.58, 1);
}

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}


@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
 	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

 @mixin clearfix {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}

@mixin base-button {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border: none;
	cursor: pointer;
}